// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


%green-title{
	position: absolute;
    background-color: rgb(21, 133, 133);
    width: 600px;
   	height: 100px;
    top: 80px;
} 
